
body {
    font-family: Caladea;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
}

button {
    border: none;
    border-radius: 8px;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px 10px;
    background-color: rgb(241, 45, 140);
    font-size: 18px;
    font-family: Caladea;
    color: white;
    transition-duration: 0.4s;
}

button:hover {
    background-color: rgb(106, 213, 106);
    color: white;
}

form{
    display: block;
    float: left;
    width: 25%;
}

.all-forms {
    text-align: left;
    color: royalblue;
    margin-top: 25px;
    margin-bottom: 40px;
    margin-left: 10%;
}


p {
    color: hotpink;
    margin-left: 50px;
    display: block;
    float: left;
    width: 25%;
}


.set-card-images {
    width: 150px; /* Adjust width as needed */
    height: auto; /* Adjust height as needed */
    margin: 0;
    margin-right: 15px; /* Add spacing between images */
    display: inline-block; /* Display images inline */
}


img.set-card-images {
    display: inline-block; /* or inline, block, etc. depending on your layout needs */
}


HR{
    width: 50%;
}


.image-container {
    position: relative; /* Set the position to relative */
    display: inline-block; /* Ensure containers are displayed inline */
}

/* Position the delete button relative to the image */
.delete-button {
    position: absolute;
    bottom: -5px;
    left: 65%;
    transform: translateX(-50%);
    border-radius: 50%;
    width: 45px;
    height: 45px;
    line-height: 45px; /* Center content vertically */
    font-size: 15px;
    text-align: center; /* Center content horizontally */
    padding: 0; /* Remove any padding */
    background-color: rgba(123, 104, 238, 0.7); /* Purple color with 98% opacity */
}